@function rem($px) {
  @return (($px / 16px) * 1rem);
}

@mixin button {
  display: block;
  width: 100%;
  height: rem(48px);
  padding: rem(12px);
  background-color: transparent;
  color: #666666;
  border: none;
  border-radius: rem(5px);
  font-size: rem(16px);
  line-height: rem(24px);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

@mixin button-primary {
  @include button;

  background-color: #008000;
  color: #fff;
}

@mixin button-secondary {
  @include button;
}
